{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}
{% block content %}

<div class ="container">
     <img src="../static/image/icon.jpg" width="250px">
     <h3>鈴木総合研究所</h3>
     <p><br></p>
     <h4>じぇねトモは、お年寄りとそのアシスタントとのマッチングアプリです。AI分析によってお年寄りがこのサービスを使う必要性を判断します。</h4>
     <p><br></p>
     <h3>まずはAI分析</h3>
     <h4>お年寄りの情報を入力し、今後要介護になる可能性を分析します。</h4>
     <p><br></p>
     <h3>AI分析はこちら</h3>
     <a href="/survey"><button class="btn btn-primary">今すぐ分析</button></a>
     <p><br></p>
     <h3>会員の方はこちら</h3>
     <a href="/login"><button class="btn btn-primary">ログイン</button></a>
</div>



{% endblock %}