{% extends "bootstrap/base.html" %}
{% block title %}要介護見込みでなかった場合{% endblock %}
{% block content %}

<div class="container">
     <img src="../static/image/icon.jpg" width="250px">
     <h2>判定結果</h2>
     <h3>あなたは要介護見込みではありませんでした。</h3>
     <h4>これからも健康な生活をこころがけましょう！</h4>
     <p><br></p>
     <h4>じぇねトモを利用されたい方はこちら！</h4>
     <a href="/signup" role="button"><button class="btn btn-primary">新規登録</button></a>
     <p><br></p>
     <a href="/" role="button"><button class="btn btn-primary">トップページ</button></a>
</div>
{% endblock %}