{% extends "bootstrap/base.html" %}
{% block title %}メインページ{% endblock %}

{% block content %}
<div class="container">
     <img src="../static/image/icon.jpg" width="250px">
     <h2>ユーザーページ</h2>
     <h3>ようこそ！{{ username }}さん！</h3>
     <h3>～現在のマッチ候補:親御様のサポートを依頼しますか？～</h3>
     {% for matcher in matchers %}
     <person>
          <p>--------------------------------------------------------</p> 
          <div id = "ismutch">
               <h4>名前: {{ matcher.name }}</h4>
               <h4>年齢: {{ matcher.age }}歳</h4>
               <h4>職業: {{ matcher.job }}</h4>
               <h4>趣味: {{ matcher.hobby }}</h4>
               <img src="../static/image/people/{{ matcher.img }}.jpg" width="250px">
          </div>    
     </person>
     <p><br></p>
     <a href="/{{matcher.id}}/good" role="botton"><button class = "btn btn-success">依頼！</button></a>
     {% endfor %}
     {% if matchers |length > 0 %} 
     <p>--------------------------------------------------------</p> 
     {% endif %}
     {% if matchers |length == 0 %} 
     <h4>現在のマッチ候補は見つかりませんでした...</h4>
     {% endif %}
     <p><br></p>
     <h3>～依頼をした人～</h3>
     {% for candidate in candidates %}
     <person>
          <p>--------------------------------------------------------</p> 
          <div id = "ismutch">
               <h4>名前: {{ candidate.name }}</h4>
               <h4>年齢: {{ candidate.age }}歳</h4>
               <h4>職業: {{ candidate.job }}</h4>
               <h4>趣味: {{ candidate.hobby }}</h4>
               <img src="../static/image/people/{{ candidate.img }}.jpg" width="250px">
          </div>    
     </person>
     <p><br></p>
     <a href="/{{candidate.id}}/delete" role="botton"><button class = "btn btn-danger">解除</button></a>
     {% endfor %}
     {% if candidates |length > 0 %} 
     <p>--------------------------------------------------------</p> 
     {% endif %}
     {% if candidates |length == 0 %} 
     <h4>依頼をした人はいません。</h4>
     {% endif %}
     <p><br></p>
     <a href="/logout" role="button"><button class="btn btn-primary">ログアウト</button></a>
</div>
<p><br></p>
{% endblock %}