{% extends "bootstrap/base.html" %}
{% block title %}ログインページ{% endblock %}

{% block content %}
<div class="container">
     <img src = "../static/image/icon.jpg" width = "250px">
     <h2>ログイン画面</h2>
     <form method="POST">
          <label class="form-label">ユーザー名</label>
          <input type="text" name = "username" class = "form-control">
          <label for="body" class = "form-label">パスワード</label>
          <input type="password" name="password" class = "form-control">
          <br>
          <input type="submit" value="ログイン" class = "btn btn-primary">
     </form>
</div>
{% endblock %}