{% extends "bootstrap/base.html" %}
{% block title %}調査画面{% endblock %}

{% block content %}
<div class="container">
     <form method="POST">
          <img src="../static/image/icon.jpg" width="250px">
          <h2>調査画面</h2>
          <label for="" class="form-label">年齢</label>
          <input class="form-control" name = age>
          <p>
          <label for="" class="form-label">性別</label>
               <input type="radio" name="sex" value=0>男
               <input type="radio" name="sex" value=1>女
          </p>
          <p>
          <label for="" class="form-label">過去の重病の有無</label>
               <input type="radio" name="sick" value=1>有
               <input type="radio" name="sick" value=0>無
          </p>
          <label for="" class="form-label">家族構成（自分を含めた人数）</label>
          <input class = "form-control" name = family>
          <label for="" class="form-label">孤独尺度(加点方式　1.周りになじめているか
               2.親しい友人はいるか
               3.コミュニティに属しているか　0～3)</label>
               <p>
                    <input type="radio" name="lonely" value=0>0
                    <input type="radio" name="lonely" value=1>1
                    <input type="radio" name="lonely" value=2>2
                    <input type="radio" name="lonely" value=3>3
               </p>
          <label for="" class="form-label">運動頻度（週何回）</label>
          <input class = "form-control" name ="exersise">
          <label for="" class="form-label">睡眠時間（hour）</label>
          <input class = "form-control" name =sleep>
          <label for="" class="form-label">住んでいる地域</label>
          <p>
               <input type="radio" name="region" value="東京">東京
               <input type="radio" name="region" value="千葉">千葉
               <input type="radio" name="region" value="埼玉">埼玉
               <input type="radio" name="region" value="神奈川">神奈川
          </p>
          <label for="" class="form-label">貯金額(万円)</label>
          <input class = "form-control" name = money>
          <p><br></p>
          <input type="submit" value="完了！" class ="btn btn-primary">
     </form>
</div>
{% endblock %}