{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<div class ="container">
     <img src="../static/image/icon.jpg" width="250px">
     <p></p>
     <h3>世代間マッチングプラットフォーム「じぇねトモ」！</h3>
     <p>「世代間を越えた支え合いで、日本に希望を取り戻す」をコンセプトにした、若者・働き盛り・シニア世代の懸け橋となるマッチングサービスです。</p>
     <p><br></p>
     <h4>どんなアプリ？</h4>
     <ul>
          <li>働き盛り世代（子）の費用負担の下、孤独を感じやすいシニア会員（親）と若いサポーター会員をつなぐ世代間交流アプリです。</li>
          <li>働き盛り世代は、自身の親御様の「年齢・居住地・孤独感・睡眠時間・大まかな貯金額」といった情報を入力することで、AIの分析に基づいて、今後2年以内の介護の必要性を知ることが来ます。</li>
     </ul>
     <p><br></p>
     <h4>～こんな人にオススメ～</h4>
     <p>【シニア世代】</p>
     <ul>
          <li>孫世代の若者に話し相手になってもらい、元気を分けてほしい</li>
          <li>健康のために、定期的に誰かと一緒に軽い散歩でもしたい</li>
          <li>若者に自分の経験を伝えて、何らかの役に立ちたい</li>
     </ul>
     <p>【働き盛り世代】</p>
     <ul>
          <li>自身が多忙で親に会いに行けないが、親孝行はしたい</li>
          <li>自分の代わりに親の様子を定期的に見てもらい、写真付きで報告してほしい</li>
          <li>親に元気で豊かなシニアライフを送ってほしい</li>
     </ul>
     <p>【若者世代】</p>
     <ul>
          <li>自分の空き時間を使って、社会に貢献したい</li>
          <li>人生の大先輩からアドバイス・知恵を貰いたい</li>
          <li>隙間時間でちょっとした小遣いを稼ぎたい</li>
     </ul>
     <p><br></p>
     <h4>まずはAI分析をしてみましょう！</h3>
     <p>シニア世代の情報を入力し、今後2年以内に要介護になる可能性を分析します。</p>
     <a href="/survey"><button class="btn btn-primary">今すぐ分析</button></a>
     <p><br></p>
     <h4>既に会員の方はこちら</h3>
     <a href="/login"><button class="btn btn-primary">ログイン</button></a>
     <p><br><br></p>
</div>
{% endblock %}