{% extends "bootstrap/base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<div class ="container">
     <img src="../static/image/icon.jpg" width="250px">
     <h4>鈴木総合研究所</h4>
     <p></p>
     <h3>異世代交流アプリ「じぇねトモ」！</h3>
     <p>「世代間を越えた支え合いで、日本に希望を取り戻す」をコンセプトにした、若者とシニア世代の懸け橋となるマッチングサービスです。</p>
     <p><br></p>
     <h4>どんなアプリ？</h4>
     <ul>
          <li>いつでもどこでも気軽に新しい出会い・つながりを見つけられる。</li>
          <li>あなたのご両親およびご家族の「年齢・居住地・孤独感・睡眠時間・貯金額」といった外面・内面の情報から今後3年以内の介護の必要性を分析。
     </ul>
     <p><br></p>
     <h4>～こんな人にオススメ～</h4>
     <p>【シニア世代】</p>
     <ul>
          <li>世代間を超えた若者と繋がりたい</li>
          <li>最近、あまり外に出ていなくて運動不足だけど、誰かと一緒に体を動かしたい</li>
          <li>最近の若者の趣味や考えを知ってみたい</li>
     </ul>
     <p>【現役世代】</p>
     <ul>
          <li>自身が多忙で親に会いに行けない</li>
          <li>代わりに親の様子を見てもらいたい・知りたい</li>
          <li>親に元気で豊かなシニアライフを送ってほしい</li>
     </ul>
     <p>【若者世代】</p>
     <ul>
          <li>人生の先輩からアドバイス・知恵をもらいたい</li>
          <li>空いたスキマ時間で、小遣いを稼ぎたい</li>
          <li>自分のちょっとしたスキルを誰かに役に立てたい</li>
     </ul>
     <p><br></p>
     <h4>まずはAI分析をしてみましょう！</h3>
     <p>シニア世代のの情報を入力し、今後3年以内に要介護になる可能性を分析します。</p>
     <a href="/survey"><button class="btn btn-primary">今すぐ分析</button></a>
     <p><br></p>
     <h4>既に会員の方はこちら</h3>
     <a href="/login"><button class="btn btn-primary">ログイン</button></a>
     <p><br><br></p>
</div>
{% endblock %}